doctype
html(lang="ko")
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    link(rel="stylesheet" href="/css/style.css")
  body
    #wrap
      header
        h1
          a(href="/") Welcome to Node Page!
      .container
        .list
          if nickname
            p Hi #{nickname}
          include list
          if list
            +get-list(list)
        .cud
          if nickname
            a.btn(href="/article/create") 글쓰기
          if id && nickname
            a.btn(href=`/article/update/${id}`) 수정
            form(action="/article/delete" method="post")
              input(type="hidden" name="id" value=`${id}` readonly)
              input(type="submit" value="삭제")
        section
          h2= title
          block content
            p!= content
      footer 2020 Dukboon